body{
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

h1{
    color:#1F3A5F
}

form{
    background-color: #e0e0e0;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;

}

label{
    font-size: 1.6em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: #82acd8;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover{
    background-color:#619bda; ;
}

#result{
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 35px;
}